<script>
  import SearchTable from "../../components/Cards/SearchTable.svelte";
  import { onMount } from "svelte";
  import { getAseguranzas, getPolizas} from "../../api/api.js";
  export let location;

  let itemsAseguranzas = [];
  let headersAseguranzas = [];
  let itemsPolizas = [];
  let headersPolizas= [];
  let titleAseguranzas = "Aseguradoras";
  let placeholderAseguranzas = "Ej. Certificado, 322";
  let titlePolizas= "Pólizas de seguro";
  let placeholderPolizas = "Ej. Certificado, 322";
  let headerMapAseguranzas = {
    num: 'Número',
    nombre: "Nombre",
    dirColonia: "Colonia",
    dirCalle: "Calle",
    dirNumero: "Num",
    numTel: "Teléfono",
    correo: "Correo"
  };
  let headerMapPolizas = {
    aseguradora__nombre: "Aseguradora",
    fechaInicio: "Inicio",
    fechaVencimiento: "Vencimiento",
    montoCobertura: "Cobertura",
    costo: "Costo",
    frecuenciaPago: "Plan",
    vehiculo__numSerie: 'Vehiculo',
    cobertura__nombre: "Cobertura"
  };
  
  onMount(async () => {
    try {
      const responseAseguranzas = await getAseguranzas();
      itemsAseguranzas = responseAseguranzas.aseguradoras_view;
      headersAseguranzas = Object.keys(responseAseguranzas.aseguradoras_view[0]);

      const responsePolizas = await getPolizas();
      itemsPolizas = responsePolizas.polizas;
      headersPolizas = Object.keys(responsePolizas.polizas[0]);
    } catch (error) {
      console.error("Error fetching data:", error.message);
    }
  });
</script>

<div class="w-full">
  <div class="w-full mb-12 xl:mb-0 px-4">
    <SearchTable
      headers={headersAseguranzas}
      headerMap={headerMapAseguranzas}
      items={itemsAseguranzas}
      placeholder={placeholderAseguranzas}
      title={titleAseguranzas}
      modalContent="aseguradora"
      titleModal="Editar aseguradora"
      formatCell={(header, value) => {
        if (header === 'costo') {
          return `${value} MXN`;
        } else {
          return value;
        }
      }}
    />
  </div>
  <div class="flex flex-wrap mt-4 w-full">
    <div class="w-full mb-12 xl:mb-0 px-4">
      <SearchTable
        headers={headersPolizas}
        headerMap={headerMapPolizas}
        items={itemsPolizas}
        placeholder={placeholderPolizas}
        title={titlePolizas}
        modalContent="poliza"
        titleModal="Editar póliza"
        formatCell={(header, value) => {
          if (header === 'kilometraje') {
            return `${value} km`;
          } else {
            return value;
          }
        }}
      />
    </div>
  </div>
</div>
