<script>
  import SearchTable from "../../components/Cards/SearchTable.svelte";
  import { onMount } from "svelte";
  import { getCargasCombustible } from "../../api/api.js";
  export let location;

  let items = [];
  let headers = [];
  let placeholder="";
  let modalContent = "cargacombustible";
  let titleModal= "Editar Carga de Combustible"
  let onClose= () => {isModalOpen = false;};

  onMount(async () => {
    try {
      const response= await getCargasCombustible();
      items = response.cargas_combustible;
      headers = Object.keys(response.cargas_combustible[0]);
      console.log(items)
    } catch (error) {
      console.error("Error fetching data:", error.message);
    }
  });

  let headerMap= {
    num: 'Num',
    numFolio: 'Folio',
    litrosCargados: 'Litros',
    fecha: "Fecha",
    kilometraje: 'Kilometraje',
    comentarios: 'Comentarios',
    costoTotal: "Costo Total",
    vehiculo_id: 'Vehiculo'
  };
</script>

<div class="w-full">
  <div class="flex flex-wrap mt-4 w-full">
    <div class="w-full mb-12 xl:mb-0 px-4">
      <SearchTable
        headers={headers}
        items={items}
        placeholder={placeholder}
        headerMap={headerMap}
        {modalContent}
        {titleModal}
        title="Cargas de Combustible"
        formatCell={(header, value) => {
          if (header === "kilometraje") {
            return `${value} km`;
          } else if (header === 'comentarios') {
            return value ? value : 'Sin comentarios';s
          } else if (header === 'costoTotal') {
            return `${value} MXN`;
          } else {
            return value;
          }
        }}
      />
    </div>
  </div>
</div>
